.accent {
  color: #368b86; //#368b86 #503b66
}

.logo {
    border-radius: 20px;
}

.table-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.headshot {
  max-width: 120px;
  border-radius: 50%;
}

.schedule tr:nth-child(5), .schedule tr:nth-child(8), .schedule tr:nth-child(12) {
  background-color: #eee;
}
