details {
  margin-bottom: 20px;
}

.accent {
  color: #368b86; //#368b86 #503b66
}

.accent2 {
  color: #604878; //#368b86 #503b66
}

.red {
  color: #9F2936;
}

.logo {
    border-radius: 20px;
}

.table-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.headshot {
  max-width: 120px;
  border-radius: 50%;
}

.schedule th {
  display: none;
}

.schedule tr:nth-child(5), .schedule tr:nth-child(8), .schedule tr:nth-child(12) {
  background-color: #eee;
}

.two-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.gold-sponsor {
  max-width: 200px;
  max-height: 100px;
  margin-right: 20px;
}

.silver-sponsor {
  max-width: 150px;
  max-height: 75px;
  margin-right: 20px;
}

.bronze-sponsor {
  max-width: 100px;
  max-height: 50px;
  margin-right: 20px;
}

@media print, screen and (max-width: 720px) {
  .two-column {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
